@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer components {
    .gradient-border-input {
        @apply w-full rounded px-3 py-2 text-gray-900 bg-white border-2 border-transparent transition duration-300;
        background-image: linear-gradient(white, white), linear-gradient(to right, #7c3aed, #ec4899);
        background-origin: border-box;
        background-clip: padding-box, border-box;
    }

    .gradient-border-input:focus {
        outline: none;
        border-color: transparent;
        box-shadow:
            0 0 6px 2px rgba(124, 58, 237, 0.7),
            0 0 12px 5px rgba(236, 72, 153, 0.5);
    }

    /* Ошибки */
    .gradient-border-input.error {
        border-color: #f87171; /* красный */
        background-color: #fee2e2; /* светло-красный фон */
    }
}

